/* Общие стили для контейнеров */
div {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

p {
    width: 20px;
    padding: 5px;
    font-size: x-small;
}

input[type="number"] {
    width: 40px;
    padding: 5px;
    font-size: small;
}

select {
    width: 80px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для блоков ввода */
.container {
    display: flex;
    flex-direction: column;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

.vContainer {
    display: flex;
    flex-direction: column;
}

.hContainer > label {
    margin-left: 10px;
}

.addContainer {
    border: 1px solid lightgreen;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}

.addContainer > label {
    margin-left: 10px;
}

#addLightButton, #addSphereButton {
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addLightButton:hover, #addSphereButton:hover {
    background-color: green;

}

.container div input, .container div select {
    flex-shrink: 0;
}


strong {
    display: block;
    margin-bottom: 5px;
}
